#container{
    margin-left: 5%;
}

#div1,#div2{
    width: 15%;
    float: left;
    margin-top: 10px;
}

#btn,#div3,#count_happy_data{
margin-top: 10px;
}

#count_happy_data {
    margin-top: 10px;
    font-size: 1.1vw;
}

input{
    margin-top: 10px;
    border-radius: 6px;
    text-align: right;
    maxlength: 6;
    padding: 5px;
    font-size: 1vw;
}

#btn {
    width: 5%;
    radius: 6px;
    padding: 5px;
    font-size: 1vw;
}